# Python Programming

**Module 1 : Basic Data Types in Python** 

Python is a fun language to learn, and really easy to pick up even if you are new to programming. In fact, quite often, Python is easier to pick up if you do not have any programming experience whatsoever. Python is high level programming language, targeted at students and professionals from diverse backgrounds.

Python has two flavors -- Python 2 and Python 3. This set of examples are in Python 3, written and executed in the beautifully simple IDE Jupyter Notebook. Note that Jupyter has set up a `localhost:8888` server to render the notebook in your computer's browser. It can render anything now! Once you are familiar with the basic programming style and concepts of Python presented in this page, feel free to explore the other Modules in this repository.

This material is heavilly inspired by two wonderful lecture series in Python -- [Python4Maths by Andreas Ernst](https://gitlab.erc.monash.edu.au/andrease/Python4Maths) and [Python Lectures by Rajath Kumar](https://github.com/rajathkmp/Python-Lectures)

**License Declaration** : Following the lead from the inspirations for this material, and the *spirit* of Python education and development, all modules of this work are licensed under the Creative Commons Attribution 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by/3.0/.

---

## Basic Data Types

Fundamental data types in Python are `int` (Integers), `float` (Decimal Numbers), `str` (Strings), `bool` (Boolean), and `complex` (Complex Numbers).

In [1]:
x = 3
print(x, "is of type", type(x))

3 is of type <class 'int'>

In [2]:
x = 3.0
print(x, "is of type", type(x))

3.0 is of type <class 'float'>

In [3]:
x = 3e10
print(x, "is of type", type(x))

30000000000.0 is of type <class 'float'>

In [4]:
x = "3"
print(x, "is of type", type(x))

3 is of type <class 'str'>

In [5]:
x = True
print(x, "is of type", type(x))

True is of type <class 'bool'>

In [6]:
x = "True"
print(x, "is of type", type(x))

True is of type <class 'str'>

In [7]:
x = 1 + 2j
print(x, "is of type", type(x))

(1+2j) is of type <class 'complex'>

In [8]:
x = complex(1,2)
print(x, "is of type", type(x))

(1+2j) is of type <class 'complex'>

#### Quick Tasks

- What is the data type of `complex(1,0)`?    
- What is the data type of `float("inf")`?

---

## Basic Operations

The fundamental data types support basic arithmetic and logical operations in Python, as is expected from any standard computing environment.

In [9]:
# Addition
5 + 2

7

In [10]:
# Subtraction 
5 - 2

3

In [11]:
# Multiplication
5 * 2

10

In [12]:
# Exact Division
5 / 2

2.5

In [13]:
# Quotient
5 // 2

2

In [14]:
# Remainder
5 % 2

1

In [15]:
# Exponentiation
5 ** 2

25

In [16]:
# Assignment
5 = 2

SyntaxError: can't assign to literal (<ipython-input-16-d6a4701fa1e7>, line 2)

In [17]:
# Equal to
5 == 2

False

In [18]:
# Not Equal to
5 != 2

True

In [19]:
# Less than
5 < 2

False

In [20]:
# Greater than
5 > 2

True

In [21]:
# Less than or Equal to
5 <= 2

False

In [22]:
# Greater than or Equal to
5 >= 2

True

In [23]:
# Logical OR
True or False

True

In [24]:
# Logical AND
True and False

False

In [25]:
# Combined Logic
(5 != 2) or (5 < 2)

True

In [26]:
# Combined Logic
(5 >= 2) and (not (5 == 2))

True

In [27]:
# Combined Inequality
5 > 2 > 1

True

In [28]:
# Combined Inequality
5 > 2 < 10

True

In [29]:
# Combined Logic -- Compute and Print
print( not (True and False), "==", not True or not False)

True == True

In [30]:
# Bitwise Logic
a, b = 5, 2
print('a =', a, "=", bin(a))
print('b =', b, "=", bin(b))
print()   # print blank line

print('a & b =', a & b, "=", bin(a & b))
print('a | b =', a | b, "=", bin(a | b))
print('a ^ b =', a ^ b, "=", bin(a ^ b))

a = 5 = 0b101
b = 2 = 0b10

a & b = 0 = 0b0
a | b = 7 = 0b111
a ^ b = 7 = 0b111

#### Quick Tasks

- What is the value of `(5 != 2) or (5/0 < 2)`?    
- What is the value of `(5 != 2) and (5/0 < 2)`?

---

## Data Type Conversion

One may easily convert between the fundamental data types -- `int` and `str` -- especially during base shifts (binary, hex, etc).

In [31]:
x = bin(125)
print(x, "is of type", type(x))

0b1111101 is of type <class 'str'>

In [32]:
x = hex(125)
print(x, "is of type", type(x))

0x7d is of type <class 'str'>

In [33]:
x = 0b1101
print(x, "is of type", type(x))

13 is of type <class 'int'>

In [34]:
x = 0x1a
print(x, "is of type", type(x))

26 is of type <class 'int'>

In [35]:
x = int("11")
print(x, "is of type", type(x))

11 is of type <class 'int'>

In [36]:
x = int("11", 2)
print(x, "is of type", type(x))

3 is of type <class 'int'>

In [37]:
x = int("11", 16)
print(x, "is of type", type(x))

17 is of type <class 'int'>

In [38]:
x = str(11)
print(x, "is of type", type(x))

11 is of type <class 'str'>

In [39]:
x = str(0b11)
print(x, "is of type", type(x))

3 is of type <class 'str'>

#### Quick Tasks

- Add two binary numbers `1101`, `1001` and print the result in binary.    
- Add two hexadecimal numbers `2A3F`, `1D21` and print the result in hex.