# Python Programming

**Module 2 : Data Structures in Python** 

Python is a fun language to learn, and really easy to pick up even if you are new to programming. In fact, quite often, Python is easier to pick up if you do not have any programming experience whatsoever. Python is high level programming language, targeted at students and professionals from diverse backgrounds.

Python has two flavors -- Python 2 and Python 3. This set of examples are in Python 3, written and executed in the beautifully simple IDE Jupyter Notebook. Note that Jupyter has set up a `localhost:8888` server to render the notebook in your computer's browser. It can render anything now! Once you are familiar with the basic programming style and concepts of Python presented in this page, feel free to explore the other Modules in this repository.

This material is heavilly inspired by two wonderful lecture series in Python -- [Python4Maths by Andreas Ernst](https://gitlab.erc.monash.edu.au/andrease/Python4Maths) and [Python Lectures by Rajath Kumar](https://github.com/rajathkmp/Python-Lectures)

**License Declaration** : Following the lead from the inspirations for this material, and the *spirit* of Python education and development, all modules of this work are licensed under the Creative Commons Attribution 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by/3.0/.

---

## Python Lists

List is one of the most versatile Data Structures in Python.

In [1]:
# List in Python
x = [10, 20, 30, 40, 50]
print(x, "is of type", type(x))

[10, 20, 30, 40, 50] is of type <class 'list'>

In [2]:
# Indexed Item
x[0]

10

In [3]:
# Negative Indexing
x[-1]

50

In [4]:
# Slicing a List
x[1:3]

[20, 30]

In [5]:
# Tail of a List
x[1:]

[20, 30, 40, 50]

In [6]:
# Head of a List
x[:-2]

[10, 20, 30]

In [7]:
# Combed Slicing
x[1::2]

[20, 40]

In [8]:
# Combed Slicing
x[:-1:2]

[10, 30]

In [9]:
# List of Characters
x = ["a", "b", "c", "d", "e"]
print(x[2:])

['c', 'd', 'e']

In [10]:
# Mixed Lists
x = [10, "b", 30, "d", 50]
print(x[2:])

[30, 'd', 50]

In [11]:
# Lists within Lists (Nested Lists)
x = [10, 20, 30, ["a", "b", "c", "d", "e"]]
print(x[2:])

[30, ['a', 'b', 'c', 'd', 'e']]

In [12]:
# Double Indexing in Nested Lists
x = [10, 20, 30, ["a", "b", "c", "d", "e"]]
print(x[3][2:])

['c', 'd', 'e']

In [13]:
# 2D Array with Nested Lists
x = [[1, 2, 3, 4, 5],
     [6, 7, 8, 9, 0],
     [0, 9, 8, 7, 6],
     [5, 4, 3, 2, 1]]
print(x[2][3])

7

In [14]:
# List Operations
x = [10, 20, 30, 40, 50]
y = ["a", "b", "c", "d", "e"]
print("Concatenation:", x + y)
print("List of Lists:", [x] + [y])
print("List of Lists:", [x, y])

Concatenation: [10, 20, 30, 40, 50, 'a', 'b', 'c', 'd', 'e']
List of Lists: [[10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e']]
List of Lists: [[10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e']]

In [15]:
# List Functions
x = [10, 20, 30, 40, 50]
y = ["a", "b", "c", "d", "e"]
print("Len:", len(x), len(y))
print("Max:", max(x), max(y))
print("Min:", min(x), min(y))

Len: 5 5
Max: 50 e
Min: 10 a

In [16]:
# List Functions
x = ["It's", "fun", "learning", "python", "at", "NTU"]
print("Max:", max(x))
print("Min:", min(x))
print("Max Len:", max(x, key=len))
print("Min Len:", min(x, key=len))

Max: python
Min: It's
Max Len: learning
Min Len: at

In [17]:
# Append to a List
x = [10, 20, 30, 40, 50]
x.append(100)
print(x)

[10, 20, 30, 40, 50, 100]

In [18]:
# Insert into a List
x = [10, 20, 30, 40, 50]
x.insert(3, 100)
print(x)

[10, 20, 30, 100, 40, 50]

In [19]:
# Append a List to a List
x = [10, 20, 30, 40, 50]
x.append([100, 200, 300])
print(x)

[10, 20, 30, 40, 50, [100, 200, 300]]

In [20]:
# Extend a List
x = [10, 20, 30, 40, 50]
x.extend([100, 200, 300])
print(x)

[10, 20, 30, 40, 50, 100, 200, 300]

In [21]:
# Remove from a List
x = [10, 20, 30, 40, 50]
x.remove(30)
print(x)

[10, 20, 40, 50]

In [22]:
# Pop from a List
x = [10, 20, 30, 40, 50]
y = x.pop()
print(x)
print(y)

[10, 20, 30, 40]
50

In [23]:
# Copying a List
x = [10, 20, 30, 40, 50]
y = x
print(x)
print(y)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [24]:
# Copying a List (Wrong)
x = [10, 20, 30, 40, 50]
y = x
x.append(100)
x.remove(30)
print(x)
print(y)

[10, 20, 40, 50, 100]
[10, 20, 40, 50, 100]

In [25]:
# Copying a List (Right)
x = [10, 20, 30, 40, 50]
y = x[:]
x.append(100)
x.remove(30)
print(x)
print(y)

[10, 20, 40, 50, 100]
[10, 20, 30, 40, 50]

In [26]:
# List Arithmetic
x = [10, "NTU"]
print(x + x)
print(3 * x)

[10, 'NTU', 10, 'NTU']
[10, 'NTU', 10, 'NTU', 10, 'NTU']

#### Quick Tasks

- Print the list `[1, 2, 3, 4, 5]` in reverse.   
- Create a `10 x 10` array/matrix filled with `1`s.

---

## Strings in Python

Strings in Python behave similar to a List of Characters, although they are not the same.

In [27]:
# String Operations in Python
x = "Singapore"
print(x, "is of type", type(x))
print("The third element  :", x[2])
print("First two elements :", x[:2])
print("Last two elements  :", x[-2:])
print("Concatenate strings:", x + x)
print("Multiply strings   :", 3 * x)

Singapore is of type <class 'str'>
The third element  : n
First two elements : Si
Last two elements  : re
Concatenate strings: SingaporeSingapore
Multiply strings   : SingaporeSingaporeSingapore

#### Quick Tasks

- Convert the list `["Python", "is", "a", "fun", "language"]` into a single string.

---

## Python Tuples

Tuples are another important Data Structure in Python. Tuples are ordered, and immutable.

In [28]:
# Tuple Operations in Python
x = (10, 20, 30)
print(x, "is of type", type(x))
print("The third element  :", x[2])
print("First two elements :", x[:2])
print("Last two elements  :", x[-2:])
print("Concatenate tuples :", x + x)
print("Multiply tuples    :", 3 * x)

(10, 20, 30) is of type <class 'tuple'>
The third element  : 30
First two elements : (10, 20)
Last two elements  : (20, 30)
Concatenate tuples : (10, 20, 30, 10, 20, 30)
Multiply tuples    : (10, 20, 30, 10, 20, 30, 10, 20, 30)

#### Quick Tasks

- Find the Dot Product (Scalar Product) of the vectors `(2, 1, -5)` and `(3, 0, 10)`.

---

## Data Structure Conversion

It is quite easy in Python to convert one Data Structure to another. Especially Lists, Tuples and Strings.

In [29]:
# Data Structure Conversion
x = "Singapore"
print(x, "is of type", type(x))
print(list(x), "is of type", type(list(x)))
print(tuple(x), "is of type", type(tuple(x)))

Singapore is of type <class 'str'>
['S', 'i', 'n', 'g', 'a', 'p', 'o', 'r', 'e'] is of type <class 'list'>
('S', 'i', 'n', 'g', 'a', 'p', 'o', 'r', 'e') is of type <class 'tuple'>

#### Quick Tasks

- Convert the String `"Python is a fun language"` into a list of the individual words.

---

## Multiple Simultaneous Assignments

It is possible in Python to simultaneously assign multiple variables, using Lists or Tuples.

In [30]:
# Multiple Simultaneous Assignments
[x, y, z] = ["Python", 3.7, "Singapore"]
print("x =", x, "   y =", y, "   z =", z)
(x, y, z) = ("Python", 3.7, "Singapore")
print("x =", x, "   y =", y, "   z =", z)
x, y, z = "Python", 3.7, "Singapore"
print("x =", x, "   y =", y, "   z =", z)

x = Python    y = 3.7    z = Singapore
x = Python    y = 3.7    z = Singapore
x = Python    y = 3.7    z = Singapore

#### Quick Tasks

- Swap the values of two variables `a = 5` and `b = 7`.

---

## Python Sets

Set is a handy Data Structure in Python that satisfies all basic properties of a mathematical Set.

In [31]:
# Set Operations
x = [10, 20, 30, 40, 50]
y = [40, 50, 60, 70]
A, B = set(x), set(y)
print("Union of Sets :", A.union(B))
print("Set Intersect :", A.intersection(B))
print("Set Difference:", A.difference(B))

Union of Sets : {70, 40, 10, 50, 20, 60, 30}
Set Intersect : {40, 50}
Set Difference: {10, 20, 30}

In [32]:
# Add or Remove from a Set
A = set([10, 20, 30, 40, 50])
A.add(100)
A.remove(30)
x = A.pop()
print(x, "popped, leaving behind", A)

100 popped, leaving behind {40, 10, 50, 20}

In [33]:
# Set Relations
A = set([10, 20, 30, 40, 50])
B = set([20,40])
print(A.isdisjoint(B), B.issubset(A), A.issuperset(B))

False True True

#### Quick Tasks

- Remove duplicates from the list `[1, 1, 2, 1, 2, 3, 1, 2, 3, 4]`.

---

## Python Dictionaries

Without a doubt, Dictionary is the most versatile Data Structure in Python (may be right after the Lists).   
The Dictionary is structured as a collection of `(key, value)` pairs encoded as `{key: value}`.

In [34]:
# Dictionary in Python
x = { 1: 'Python', 2: 'at', 3: 'NTU' }
print(x, "is of type", type(x))

{1: 'Python', 2: 'at', 3: 'NTU'} is of type <class 'dict'>

In [35]:
# Elements in a Dictionary
x = { 1: 'Python', 2: 'at', 3: 'NTU' }
print(x[1], x[2], x[3])

Python at NTU

In [36]:
# Various types of Keys
x = { 1: 'Python', 'Two': 'at', (3): 'NTU' }
print(x[1], x["Two"], x[(3)])

Python at NTU

In [37]:
# Strings as Keys as well as Values
x = { "UCL": "London", "MIT": "Cambridge", "NTU": "Singapore" }
print("NTU is located in", x["NTU"])

NTU is located in Singapore

In [38]:
# Lists as Values in a Dictionary
x = { "UCL": ["London", 500], "MIT": ["Cambridge", 2000] , "NTU": ["Singapore", 5000] }
print("NTU is located in", x["NTU"][0], "and has", x["NTU"][1], "students!")

NTU is located in Singapore and has 5000 students!

In [39]:
# Items, Keys and Values in a Dictionary
x = { "UCL": ["London", 500], "MIT": ["Cambridge", 2000] , "NTU": ["Singapore", 5000] }
print(x.items())
print(x.keys())
print(x.values())

dict_items([('UCL', ['London', 500]), ('MIT', ['Cambridge', 2000]), ('NTU', ['Singapore', 5000])])
dict_keys(['UCL', 'MIT', 'NTU'])
dict_values([['London', 500], ['Cambridge', 2000], ['Singapore', 5000]])

#### Quick Tasks

- Convert the Dictionary `{"one" : 1, "two" : 2}` to `{1 : "one", 2 : "two"}`.